.partners
  padding-top: 67px
  padding-bottom: 102px
.partnersWrap
  display: flex
  flex-direction: row
  flex-wrap: wrap
  justify-content: space-around
  margin-top: -16px
  &__img
    width: 200px
    height: 150px
    transition: .3s ease-in-out
    cursor: pointer
    &:hover
      transform: scale(1.2)
