.work
  padding-top: 68px
  background: url(../img/work.jpg) no-repeat center / cover
  height: 673px
.card
  max-width: 349px
  min-height: 83px
  background: $light
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1)
  border-radius: 7px
  display: flex
  align-items: center
  justify-content: center
  &__maincard
    display: flex
    align-items: center
    width: 338px
    min-height: 75px
    border: 1px solid rgba(0, 0, 0, 0.1)
    box-sizing: border-box
    border-radius: 7px
.maincard
  &__title
    font-style: normal
    font-weight: bold
    font-size: 16px
    line-height: 19px
    color: #1E2026
  &__text
    font-style: normal
    font-weight: normal
    font-size: 13px
    line-height: 15px
    color: #505050
